In [2]:
import pandas as pd 

df = pd.read_csv("data/insurance.csv")
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
df.shape

(1338, 7)

In [5]:
df.age.count()

np.int64(1338)

In [7]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [14]:

print(f'age:{df.age.nunique()}')
print(f'bmi:{df.bmi.nunique()}')
print(f'children:{df.children.nunique()}')
print(f'smoker:{df.smoker.nunique()}')
print(f'region:{df.region.nunique()}')
print(f'charges:{df.charges.nunique()}')

age:47
bmi:548
children:6
smoker:2
region:4
charges:1337

In [16]:
# dtype os property of df.age. onject
print(f'age:{df.age.dtype}')
print(f'bmi:{df.bmi.dtype}')
print(f'children:{df.children.dtype}')
print(f'smoker:{df.smoker.dtype}')
print(f'region:{df.region.dtype}')
print(f'charges:{df.charges.dtype}')

age:int64
bmi:float64
children:int64
smoker:object
region:object
charges:float64

In [17]:
print(f'age:{pd.api.types.is_numeric_dtype(df.age)}')
print(f'bmi:{pd.api.types.is_numeric_dtype(df.bmi)}')
print(f'children:{pd.api.types.is_numeric_dtype(df.children)}')
print(f'smoker:{pd.api.types.is_numeric_dtype(df.smoker)}')
print(f'region:{pd.api.types.is_numeric_dtype(df.region)}')
print(f'charges:{pd.api.types.is_numeric_dtype(df.charges)}')

age:True
bmi:True
children:True
smoker:False
region:False
charges:True